<html>
  <body>
    <table border="1">
      <tr>
        <td width="200">
          <nav>
            <a routerLink="simple-data">Simple Data</a><br><br>
            <a routerLink="array-data">Array Data</a><br><br>
            <a routerLink="array-combo">Array DropDown</a><br><br>
            <a routerLink="dynamic-form">Dynamic Form</a><br><br>
            <a routerLink="user-form">User Form</a><br>
          </nav>
        </td>
        <td width="600">
          <router-outlet></router-outlet>
      </td>
  
    </table>
  </body>
</html>